.icon {
  line-height: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #33BF61;
  border: 2px solid #33BF61;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.btn-group {
  margin-top: 12pt;
}

input[type="text"] {
  margin-top: 6pt;
}

.card-list {
  display: grid;
  gap: 16pt;
  grid-template-columns: repeat(4, 1fr);

}
