<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type"
        content="text/html; charset=UTF-8" />
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet">

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


  <link rel="stylesheet"
        th:href="@{/css/main.css}" />
  <link rel="stylesheet"
        th:href="@{/fonts/boxicons.css}" />

  <title th:text="#{appliances.header.list}" />
</head>

<body>
  <div th:insert="~{panel/components/menunavy::navy}"></div>
  <h1 th:text="#{appliances.header.list}" />

  <div id="warning"
       class="alert alert-danger"
       th:classappend="${warning != null and warning != ''} ? '' : 'd-none'"
       role="note"></div>

  <table class="table table-hover">
    <thead>
      <tr class="table-light">
        <th><a
             th:href="@{{link}(sort='id', link=${currentPage}, page=${data.pagination.currentPage}, size=${data.pagination.pageSize})}">[[#{header.id}]]</a>
        </th>
        <th><a
             th:href="@{{link}(sort='name', link=${currentPage}, page=${data.pagination.currentPage}, size=${data.pagination.pageSize})}">[[#{header.name}]]</a>
        </th>
        <th><a
             th:href="@{{link}(sort='category', link=${currentPage}, page=${data.pagination.currentPage}, size=${data.pagination.pageSize})}">[[#{header.category}]]</a>
        </th>
        <th>[[#{header.model}]]</th>
        <th>[[#{header.manufacturerName}]]</th>
        <th>[[#{header.powerType}]]</th>
        <th>[[#{header.characteristic}]]</th>
        <th>[[#{header.description}]]</th>
        <th>[[#{header.power}]]</th>
        <th>[[#{header.price}]]</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="appliance: ${data.list}">
        <td>
          <a th:href="@{/panel/appliances/{id}/edit(id=${appliance.id})}"
             th:text="${appliance.id}" />
        </td>
        <td th:text="${appliance.name}" />
        <td th:text="${appliance.category}" />
        <td th:text="${appliance.model}" />
        <td th:text="${appliance.manufacturerName}" />
        <td th:text="${appliance.powerType}" />
        <td th:text="${appliance.characteristic}" />
        <td th:text="${appliance.description}" />
        <td th:text="${appliance.power}" />
        <td th:text="${appliance.price}" />
        <td>
          <button type="button"
                  class="btn btn-outline-danger btn-sm"
                  th:onclick="'sendDeleteRequest(\'' + @{/panel/appliances/{id}(id=${appliance.id})} + '\')'">
            [[#{btn.delete}]]
          </button>
        </td>
      </tr>

    </tbody>
  </table>
  <div th:if="${data.pagination.totalPages > 1}"
       class="m-4">
    <div th:replace="~{panel/components/pagination::pagination}">
    </div>
  </div>
  <a th:href="@{/panel/appliances/create}"
     class="btn btn-primary"
     th:text="#{btn.new}"></a>
  <div th:insert="~{footer::footer}"></div>

  <script th:inline="javascript">
    async function sendDeleteRequest(path) {
      try {
        const response = await fetch(path, {
          method: "DELETE",
          body: new FormData(),
          headers: {
            "[(${_csrf.headerName})]": "[(${_csrf.token})]"
          }
        });

        if (!response.ok) {
          const text = await response.text();

          let message;
          try {
            message = JSON.parse(text);
          } catch (e) {
            console.log("Not JSON error body");
            return;
          }

          if (message.warning) {
            showWarning(message.warning);
          }

          return;
        }

        // Success
        location.reload(true);

      } catch (error) {
        console.error("Network error:", error);
      }
    }

    function showWarning(warning) {
      let el = document.getElementById("warning");
      if (el) {
        el.classList.remove('d-none');
        el.innerHTML = warning;
      }
    }
  </script>
</body>

</html>
