<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type"
        content="text/html; charset=UTF-8" />
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet">

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


  <link rel="stylesheet"
        th:href="@{/css/main.css}" />
  <link rel="stylesheet"
        th:href="@{/fonts/boxicons.css}" />
  <script th:src="@{/js/requests.js}"></script>
  <meta name="csrf-header"
        th:content="${_csrf.headerName}" />
  <meta name="csrf-token"
        th:content="${_csrf.token}" />

  <title th:text="#{manufacturer.header.list}"></title>
</head>

<body>
  <div th:insert="~{panel/components/menunavy::navy}"></div>
  <div class="container">
    <div class="row">
      <div class="col">

        <h1 th:text="#{manufacturer.header.list}"></h1>

        <div id="warning"
             class="alert alert-danger"
             th:classappend="${warning != null and warning != ''} ? '' : 'd-none'"
             role="note"></div>

        <table class="table table-hover">
          <thead>
            <tr class="table-light">
              <th>[[#{header.id}]]</th>
              <th>[[#{header.clientEmail}]]</th>
              <th>[[#{header.employeeEmail}]]</th>
              <th>[[#{header.amount}]]</th>
              <th>[[#{header.approved}]]</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="order: ${data.list}">
              <td>[[${order.id}]]</td>
              <td>[[${order.clientEmail}]]</td>
              <td>[[${order.employeeEmail}]]</td>
              <td>[[${order.amount}]]</td>
              <td>[[${order.approved}]]</td>
              <td>
                <button type="button"
                        class="btn btn-outline-danger btn-sm"
                        th:onclick="'sendPostRequest(\'' + @{/api/v1/cart/approve/{id}(id=${order.id})} + '\')'">
                  [[#{btn.approve}]]
                </button>
              </td>
            </tr>

          </tbody>
        </table>
        <div th:if="${data.pagination.totalPages > 1}"
             class="m-4">
          <div th:replace="~{panel/components/pagination::pagination}">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div th:insert="~{footer::footer}"></div>

</body>

</html>
